# Dados
data/*
!data/model_validation/
data/model_validation/*
!data/model_validation/*.parquet
!data/model_validation/*.json
!data/model_validation/*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Ambiente
.env

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
